.story-index {
    .index-header {
        display: none;
    }

    .index-content {
        display: flex;
        width: 100%;
    }
}

@media (max-width:$mobile-breakpoint) {
    .story-index {
        width: 100%;

        .index-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-inline: 10px;
            height: 44px;
            border-bottom: 1px $seperator solid;

            .left-header {
                height: 30px;

                img {
                    height: 30px;
                }
            }
        }
    }
}