.story-details {
    background-color: white;
    border-radius: 4px;
    height: 94%;
    min-width: 60%;
    max-width: 82%;
    display: flex;

    .details-info {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
    }
}