.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .story-details {
        background-color: white;
        border-radius: 4px;
        position: relative;
        width: 82%;
        height: 94%;
        display: flex;
        flex-direction: row;

        .details-info {
            width: 35%;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}