.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .story-details {
        background-color: white;
        border-radius: 5px;
        position: relative;
        width: 82%;
        height: 94%;
        display: flex;
        flex-direction: row;

        .story-img {
            width: 65%;
            display: flex;
            align-items: center;

            img {
                width: 100%;
                object-fit: contain;
            }
        }

        .story-info {
            width: 35%;
            margin: 10px 10px 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .details-main {
                .story-txt {
                    height: 80px;
                    margin: -5px -2px 0 0;
                    padding: 5px 16px 16px 0;
                }

                height: 80%;
            }

            .details-footer {
                width: 100%;

                .story-likes {
                    width: 100%;
                    margin-bottom: 30px;
                }

                .add-comment {
                    border-top: 1px $gray3 solid;
                    height: 53px;
                    padding: 6px 16px 6px 0;
                    display: flex;
                    align-items: start;
                }
            }
        }
    }


}