.user-details {
    padding: 30px 20px 0 20px;
    width: calc(100% - 40px);
    max-width: 975px;

    header {
        display: grid;
        grid-template-columns: 1fr 2fr;

        .user-img {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-right: 28px;
            }
        }

        .user-info {
            display: flex;
            flex-direction: column;

            .user-headline {
                height: 40px;
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                p {
                    margin-block: 0;
                    margin-right: 20px;
                    font-size: 20px;
                }

                a {
                    display: flex;
                    align-items: center;
                    height: 32px;
                    font-weight: $font-weight-semibold;
                    background-color: $gray4;
                    padding-inline: 16px;
                    border-radius: 8px;
                }
            }

            .user-stats {
                margin-bottom: 20px;
                display: flex;
                font-size: 16px;

                p {
                    margin: 0 20px 0 0;
                    cursor: pointer;

                    span {
                        font-weight: $font-weight-semibold;
                    }
                }
            }

            .user-texts {
                font-size: 14px;

                p {
                    margin: 0;
                }

                .fullname {
                    font-weight: $font-weight-semibold;
                }
            }
        }

    }

    .story-type {
        display: flex;
        justify-content: center;
        border-top: 1px $seperator solid;
        margin-top: 40px;

        .tab {
            background: none;
            height: 52px;
            display: flex;
            align-items: center;
            color: $gray1;
            margin-right: 60px;
            font-size: 12px;

            p {
                margin: 0 0 0 6px;
                font-weight: $font-weight-semibold;
                letter-spacing: 1px;
            }

            &:last-of-type{
                margin-right: 0;
            }

            &.selected {
                margin-top: -1px;
                color: black;
                border-top: 1px black solid;
            }

            &:hover {
                text-decoration: none;
            }

            &:active {
                color: $gray3;
                border-top-color: $gray3;
            }


        }
    }
}