.story-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 630px;

    li {
        display: flex;
        justify-content: center;

        &:last-of-type {
            .story-preview {
                border-bottom: none;
            }
        }
    }
}