.story-preview {
    display: flex;
    flex-direction: column;
    width: min(468px, 100vw);
    padding-bottom: 16px;
    border-bottom: 1px $seperator solid;
    margin-bottom: 20px;
}

@media (max-width:$mobile-breakpoint) {
    .story-preview {
        width: 100%;
    }
}