.story-preview {
    .user-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-left {
            display: flex;
            justify-content: start;
            align-items: center;
            height: 32px;
            margin: 0 0 10px 5px;
            gap: 10px;

            img {
                width: 32px;
                height: 32px;
            }

            p {
                font-weight: $font-weight-semibold;
                margin-bottom: 20px;
            }
        }

        .header-right {
            margin-bottom: 7px;
        }

    }

    img {
        width: min(470px, 100vw);
        aspect-ratio: 1/1.25;
    }

    .story-controls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-block: 4px;
        height: 40px;

        .story-controls-right {
            >* {
                margin: 8px 16px 8px 0;
            }
        }
    }


}