.story-preview {
    .user-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .header-left>* {
            display: flex;
            justify-content: start;
            align-items: center;
            width: fit-content;
            height: 32px;
            margin: 0 0 10px 5px;
            gap: 10px;

            img {
                width: 32px;
                height: 32px;
            }

            p {
                font-weight: $font-weight-semibold;
                margin-bottom: 20px;
            }
        }

        .header-right {
            justify-self: end;
            margin-bottom: 9px;
        }

    }

    img {
        width: min(470px, 100vw);
        aspect-ratio: 1/1.25;
    }

    .story-controls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-block-start: 4px;
        height: 40px;

        .story-controls-left {
            >* {
                margin: 8px 16px 8px 0;
            }
        }

        .story-controls-right {
            display: flex;
            justify-content: end;

            >* {
                margin-bottom: 4px;
            }
        }
    }

    .story-likes {
        line-height: 18px;
        margin-block: 4px 0;
        font-weight: $font-weight-semibold;
    }

    .story-txt {
        display: flex;
        margin-top: 6px;
        height: 18px;

        .user {
            font-weight: $font-weight-semibold;
        }

        >* {
            margin: 0;
            padding-right: 4px;
        }
    }

    .comment-row {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        height: 18px;

        .comment-input {
            margin: 0;
            padding: 0;
            border-style: none;
            max-height: 80px;
            font-size: inherit;
        }

        svg {
            color: $gray1;
        }
    }


}