.details-footer {
    border-top: 1px $gray4 solid;

    .story-controls {
        padding-inline: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 6px;

        .story-controls-left {
            display: flex;

            >* {
                margin: 8px 16px 8px 0;
                cursor: pointer;
            }
        }

        .story-controls-right {
            display: flex;
            justify-content: end;
            cursor: pointer;
        }
    }

    .story-likes {
        padding-inline: 16px;
        width: 100%;
        line-height: 18px;
        font-weight: $font-weight-semibold;
        width: fit-content;
        cursor: pointer;
    }

    .timestamp{
        margin: 0;
        padding-inline: 16px;
        color: $gray1;
        font-size: 12px;
    }

    .add-comment {
        display: flex;
        align-items: center;
        border-top: 1px $gray3 solid;
        min-height: 53px;
        margin-top: 15px;
        padding: 6px 16px;

        svg {
            width: 24px;
            height: 24px;
            margin-right: 16px;
        }

        form {
            width: 100%;
            display: flex;

            textarea {
                width: 100%;
                padding: 0;
                margin: 0;
                font: inherit;
                border-style: none;
                resize: none;
                outline: 0px none transparent;
            }

            Button {
                margin: auto;
                background: none;
                color: $blue1;
                border: none;
                font-weight: $font-weight-semibold;
                cursor: pointer;
                z-index: 2;
            }
        }
    }
}