.details-texts {
    padding: 16px;
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
    }

    .story-txt {
        height: 80px;
        margin: -5px -2px 0 0;
        padding: 5px 16px 16px 0;
        display: flex;
        align-items: center;
        gap: 10px;

        p {
            margin: 0;
        }

        .user {
            font-weight: $font-weight-semibold;
            cursor: pointer;
        }
    }

    .story-comment-list {
        margin: 0;
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            justify-content: space-between;
            height: fit-content;
            padding-top: 30px;
            margin: -5px -2px 0 0;
            word-break: break-all;

            .comment-info {
                gap: 10px;
                display: flex;
                align-items: start;

                .user {
                    font-weight: $font-weight-semibold;
                    cursor: pointer;
                }

                p {
                    margin: 0;
                }

                .comment-controls {
                    font-size: 12px;
                    color: $gray1;
                    display: flex;
                    align-items: center;
                    font-weight: $font-weight-bold;

                    &>* {
                        margin-right: 12px;
                        padding: 0;
                    }
                }
            }

            .like-comment {
                cursor: pointer;
                margin: 9px 0 0 16px;
                margin-top: 9px;

                svg {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}