.details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px 14px 16px;
    border-bottom: 1px $gray4 solid;

    .user-info {
        .profile-link {
            display: flex;
            align-items: center;
            width: fit-content;
            gap: 10px;
            cursor: pointer;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            p {
                font-weight: $font-weight-semibold;
                color: $black3;
                margin: 0;
            }
        }
    }

    .more-options {
        display: flex;
        cursor: pointer;
    }
}