button {
	cursor: pointer;
}

form > * {
	display: block;
	margin: 10px 0px;
}

.btn-link {
	border: 0;
	background-color: transparent;
	transition: 0.5s;
}
.btn-link:hover {
	// background-color: ;
}
