.app-container {
    display: flex;
    overflow: hidden;
    height: 100vh;

    .main-content {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow-y: auto;
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        .close-btn {
            position: fixed;
            top: 18px;
            right: 18px;
            color: white;
            cursor: pointer;
        }
    }
    @media (min-width:$wide-breakpoint) {
        .app-nav{
            .nav-bar{
                width: 311px;
            }
        }
    }

    @media (max-width:$normal-breakpoint) {
        .app-nav {

            .nav-bar {
                width: 48px;
            }

            span {
                display: none;
            }

            .logo {
                padding: 0;

                img {
                    display: none;
                }

                .small-logo {
                    display: block;
                }
            }

            .nav-bar {
                margin-top: 64px;
            }
        }
    }

    @media (max-width:$narrow-breakpoint) {
        .suggestions-bar {
            display: none;
        }
    }
}

@media (max-width:$mobile-breakpoint) {
    .app-container {
        display: flex;
        flex-direction: column-reverse;

        .prev-header {
            padding-inline: 12px;
        }

        .prev-footer {
            padding-inline: 16px;
        }

        .story-list{
            width: 100%;
        }

        .app-nav {
            bottom: 0;
            position: sticky;
            padding: 0;
            height: 50px;
            border-top: 1px $seperator solid;

            .logo {
                display: none;
            }

            .nav-bar {
                width: 100%;
                margin: 0;

                .main-nav {
                    display: flex;
                    justify-content: space-evenly;

                    .link {
                        width: fit-content;
                    }

                    .upload-btn {
                        display: none;
                    }
                }

                .lower-nav {
                    display: none;
                }
            }
        }
    }
}