.story-txt {
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    p {
        margin: 0;
    }

    .user {
        font-weight: $font-weight-semibold;
        cursor: pointer;
    }
}