.story-comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8px;

    .comment-count {
        height: 18px;
        color: $gray1;
        margin-bottom: 10px;
    }

    .add-comment {
        height: 18px;
        display: flex;
        justify-content: space-between;

        form {
            .comment-input {
                padding: 0;
                margin: 0;
                max-height: 80px;
                border-style: none;
                font-size: inherit;
            }
        }

        svg {
            color: $gray1;
            margin-right: 6px;
        }
    }
}