.prev-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    padding: 0 0 12px 4px;

    .user-info {
        .profile-link {
            display: flex;
            justify-content: start;
            align-items: center;
            width: fit-content;
            gap: 10px;
            cursor: pointer;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            p {
                font-weight: $font-weight-semibold;
                margin: 0;
            }

            .timestamp {
                color: $gray1;
                font-weight: $font-weight-regular;
            }
        }
    }

    .more-options {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}